.12_95 { 
	overflow:hidden;
}.e12_95 { 
	background-color:rgba(255, 255, 255, 1);
	width:1835px;
	height:1073px;
	position:absolute;
}.e12_96 { 
	color:rgba(0, 0, 0, 1);
	width:844px;
	height:161px;
	position:absolute;
	left:95px;
	top:235px;
	font-family:Sora;
	text-align:left;
	font-size:128px;
	letter-spacing:0;
}.e13_99 { 
	transform: rotate(0.43933361967777085deg);
	color:rgba(0, 0, 0, 1);
	width:931.5209350585938px;
	height:587.1448364257812px;
	position:absolute;
	left:99.502197265625px;
	top:420px;
	font-family:Sora;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e13_102 { 
	width:774px;
	height:555px;
	position:absolute;
	left:1031px;
	top:235px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e13_103 { 
	background-color:rgba(221.00779920816422, 225.24999797344208, 13.139588534832, 1);
	width:1920px;
	height:189px;
	position:absolute;
	left:0px;
	top:0px;
}.e12_10 { 
	width:290px;
	height:198px;
	position:absolute;
	left:1630px;
	top:-9px;
	background-image:url(images/png_clipart_cupcake_bundt_cake_chocolate_cake_cream_candy_chocolat_cream_food_transformed_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e13_105 { 
	width:420px;
	height:229px;
	position:absolute;
	left:-85px;
	top:-40px;
	background-image:url(images/1628036719_58_p_kusochek_torta_foto_69_transformed_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e13_106 { 
	color:rgba(0, 0, 0, 1);
	width:137px;
	height:26px;
	position:absolute;
	left:1580px;
	top:68px;
	font-family:Sora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e13_108 { 
	width:460px;
	height:113px;
	position:absolute;
	left:227px;
	top:29px;
	background-image:url(images/logoza_ru_toxkc0g83_transformed_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e13_109 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(-3.1805546814635168e-15deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:48px;
	height:10px;
	position:absolute;
	left:203px;
	top:100px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}.e13_110 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(-3.1805546814635168e-15deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:48px;
	height:10px;
	position:absolute;
	left:203px;
	top:80px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}.e13_111 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(-3.1805546814635168e-15deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:48px;
	height:10px;
	position:absolute;
	left:203px;
	top:60px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}.e13_113 { 
	transform: rotate(180deg);
	width:155px;
	height:109px;
	position:absolute;
	left:812px;
	top:33px;
	background-image:url(images/png_transparent_chocolate_milk_chocolate_bar_hot_chocolate_candy_candy_food_sweetness_chocolate_syrup_transformed_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e13_114 { 
	color:rgba(0, 0, 0, 1);
	width:609px;
	height:35px;
	position:absolute;
	left:809px;
	top:59px;
	font-family:Sora;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e13_115 { 
	color:rgba(0, 0, 0, 1);
	width:137px;
	height:26px;
	position:absolute;
	left:1418px;
	top:70px;
	font-family:Sora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e13_118 { 
	background-color:rgba(235.02500385046005, 216.51680499315262, 49.94280248880386, 1);
	width:1920px;
	height:179px;
	position:absolute;
	left:-42px;
	top:929px;
}.e13_119 { 
	color:rgba(0, 0, 0, 1);
	width:137px;
	height:26px;
	position:absolute;
	left:1649px;
	top:947px;
	font-family:Sora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e13_120 { 
	color:rgba(0, 0, 0, 1);
	width:1334px;
	height:285px;
	position:absolute;
	left:544px;
	top:930px;
	font-family:Lato;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e12_91 { 
	color:rgba(0, 0, 0, 1);
	width:448px;
	height:84px;
	position:absolute;
	left:852px;
	top:989px;
	font-family:Lato;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e13_122 { 
	width:700px;
	height:129px;
	position:absolute;
	left:-137px;
	top:929px;
	background-image:url(images/logoza_ru__1__mujlv4stx_transformed_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}