.1_2 { 
	overflow:hidden;
}
.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:2244px;
	position:absolute;
}
.e1_11 { 
	background-color:rgba(221.00779920816422, 225.24999797344208, 13.139588534832, 1);
	width:1920px;
	height:189px;
	position:absolute;
	left:0px;
	top:0px;
}
.e12_19 { 
	background-color:rgba(235.02500385046005, 216.51680499315262, 49.94280248880386, 1);
	width:1920px;
	height:151px;
	position:absolute;
	left:0px;
	top:2093px;
}
.e1_3 { 
	width:460px;
	height:113px;
	position:absolute;
	left:184px;
	top:41px;
	background-image:url(images/logoza_ru_toxkc0g83_transformed_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_7 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(-3.1805546814635168e-15deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:48px;
	height:10px;
	position:absolute;
	left:117px;
	top:74px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.e1_9 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(-3.1805546814635168e-15deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:48px;
	height:10px;
	position:absolute;
	left:117px;
	top:92px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.e1_10 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(-3.1805546814635168e-15deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:48px;
	height:10px;
	position:absolute;
	left:117px;
	top:110px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.e1_12 { 
	color:rgba(0, 0, 0, 1);
	width:137px;
	height:26px;
	position:absolute;
	left:1499px;
	top:84px;
	font-family:Sora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_13 { 
	color:rgba(0, 0, 0, 1);
	width:137px;
	height:26px;
	position:absolute;
	left:1691px;
	top:84px;
	font-family:Sora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e12_85 { 
	color:rgba(0, 0, 0, 1);
	width:137px;
	height:26px;
	position:absolute;
	left:1706px;
	top:2141px;
	font-family:Sora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e3_3 { 
	width:290px;
	height:198px;
	position:absolute;
	left:1752px;
	top:-12px;
	background-image:url(images/png_clipart_cupcake_bundt_cake_chocolate_cake_cream_candy_chocolat_cream_food_transformed_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_6 { 
	background-color:rgba(190.18750101327896, 164.70240533351898, 30.905474424362183, 1);
	width:577px;
	height:665px;
	position:absolute;
	left:24px;
	top:207px;
	border-top-left-radius:19px;
	border-top-right-radius:19px;
	border-bottom-left-radius:19px;
	border-bottom-right-radius:19px;
}
.e3_8 { 
	background-color:rgba(190.18750101327896, 164.70240533351898, 30.905474424362183, 1);
	width:577px;
	height:665px;
	position:absolute;
	left:665px;
	top:207px;
	border-top-left-radius:19px;
	border-top-right-radius:19px;
	border-bottom-left-radius:19px;
	border-bottom-right-radius:19px;
}
.e3_9 { 
	background-color:rgba(190.18750101327896, 164.70240533351898, 30.905474424362183, 1);
	width:577px;
	height:665px;
	position:absolute;
	left:1320px;
	top:207px;
	border-top-left-radius:19px;
	border-top-right-radius:19px;
	border-bottom-left-radius:19px;
	border-bottom-right-radius:19px;
}
.e3_5 { 
	width:513px;
	height:482px;
	position:absolute;
	left:56px;
	top:207px;
	background-image:url(images/png_clipart_chocolate_cake_black_forest_gateau_christmas_cake_coffee_mince_pie_chocolate_cake_food_frozen_dessert_transformed_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_7 { 
	color:rgba(255, 255, 255, 1);
	width:459px;
	height:79px;
	position:absolute;
	left:141px;
	top:707px;
	font-family:Yesteryear;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e3_11 { 
	color:rgba(255, 255, 255, 1);
	width:459px;
	height:79px;
	position:absolute;
	left:765px;
	top:707px;
	font-family:Yesteryear;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e3_19 { 
	color:rgba(255, 255, 255, 1);
	width:459px;
	height:79px;
	position:absolute;
	left:1398px;
	top:707px;
	font-family:Yesteryear;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e3_10 { 
	width:730px;
	height:450px;
	position:absolute;
	left:569px;
	top:207px;
	background-image:url(images/139245112_207c54604fbc984601c65861f8a98318_transformed_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_13 { 
	width:1865px;
	height:173px;
	position:absolute;
	left:29px;
	top:888px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_15 { 
	width:266px;
	height:143px;
	position:absolute;
	left:46px;
	top:903px;
	background-image:url(images/lk8_pqc5whs_transformed_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_16 { 
	width:129px;
	height:74px;
	position:absolute;
	left:1113px;
	top:227px;
	background-image:url(images/lk8_pqc5whs_transformed_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_17 { 
	width:129px;
	height:74px;
	position:absolute;
	left:471px;
	top:227px;
	background-image:url(images/lk8_pqc5whs_transformed_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_18 { 
	width:486px;
	height:500px;
	position:absolute;
	left:1366px;
	top:210px;
	background-image:url(images/9c34e057ad7fd855c1a3699b4ed186ec_transformed_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_2 { 
	width:290px;
	height:198px;
	position:absolute;
	left:1752px;
	top:-12px;
	background-image:url(images/png_clipart_cupcake_bundt_cake_chocolate_cake_cream_candy_chocolat_cream_food_transformed_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e4_8 { 
	background-color:rgba(221.00779920816422, 225.24999797344208, 13.139588534832, 1);
	width:309px;
	height:79px;
	position:absolute;
	left:158px;
	top:773px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e4_9 { 
	background-color:rgba(221.00779920816422, 225.24999797344208, 13.139588534832, 1);
	width:309px;
	height:79px;
	position:absolute;
	left:819px;
	top:773px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e4_10 { 
	background-color:rgba(221.00779920816422, 225.24999797344208, 13.139588534832, 1);
	width:309px;
	height:79px;
	position:absolute;
	left:1473px;
	top:773px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e5_2 { 
	background-color:rgba(235.02500385046005, 216.51680499315262, 49.94280248880386, 1);
	width:1865px;
	height:496px;
	position:absolute;
	left:32px;
	top:1540px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e5_4 { 
	color:rgba(0, 0, 0, 1);
	width:210px;
	height:58px;
	position:absolute;
	left:816px;
	top:1540px;
	font-family:Lato;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e4_19 { 
	background-color:rgba(221.00779920816422, 225.24999797344208, 13.139588534832, 1);
	width:1865px;
	height:424px;
	position:absolute;
	left:32px;
	top:1079px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e4_20 { 
	color:rgba(0, 0, 0, 1);
	width:384px;
	height:50px;
	position:absolute;
	left:782px;
	top:1097px;
	font-family:Lato;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e4_25 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:481px;
	height:47px;
	position:absolute;
	left:399px;
	top:1207px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_26 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:481px;
	height:47px;
	position:absolute;
	left:1079px;
	top:1207px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_28 { 
	color:rgba(0, 0, 0, 1);
	width:318px;
	height:25px;
	position:absolute;
	left:399px;
	top:1170px;
	font-family:Lato;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e4_29 { 
	color:rgba(0, 0, 0, 1);
	width:318px;
	height:25px;
	position:absolute;
	left:1083px;
	top:1170px;
	font-family:Lato;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e4_31 { 
	background-color:rgba(218.0249896645546, 0, 0, 1);
	width:161px;
	height:47px;
	position:absolute;
	left:900px;
	top:1207px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e4_30 { 
	color:rgba(0, 0, 0, 1);
	width:162px;
	height:41px;
	position:absolute;
	left:921px;
	top:1217px;
	font-family:Lato;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e4_34 { 
	width:516px;
	height:425px;
	position:absolute;
	left:42px;
	top:1079px;
	background-image:url(images/images_olwy17e1y_transformed_1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e4_36 { 
	width:463px;
	height:391px;
	position:absolute;
	left:1431px;
	top:1095px;
	background-image:url(images/pngimg_com___cake_png13132_transformed_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e5_9 { 
	width:1269px;
	height:375px;
	position:absolute;
	left:593px;
	top:1621px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/____________1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_2 { 
	color:rgba(0, 0, 0, 1);
	width:514px;
	height:285px;
	position:absolute;
	left:96px;
	top:1621px;
	font-family:Lato;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e12_3 { 
	color:rgba(0, 0, 0, 1);
	width:448px;
	height:84px;
	position:absolute;
	left:110px;
	top:1887px;
	font-family:Lato;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e12_86 { 
	color:rgba(0, 0, 0, 1);
	width:1334px;
	height:285px;
	position:absolute;
	left:478px;
	top:2106px;
	font-family:Lato;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e12_7 { 
	width:1980px;
	height:1486px;
	position:absolute;
	left:1834px;
	top:-84px;
}
.e3_4 { 
	width:420px;
	height:229px;
	position:absolute;
	left:-186px;
	top:-35px;
	background-image:url(images/1628036719_58_p_kusochek_torta_foto_69_transformed_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_57 { 
	color:rgba(0, 0, 0, 1);
	width:225px;
	height:41px;
	position:absolute;
	left:209px;
	top:786px;
	font-family:Yesteryear;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e12_58 { 
	color:rgba(0, 0, 0, 1);
	width:225px;
	height:41px;
	position:absolute;
	left:882px;
	top:786px;
	font-family:Yesteryear;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e12_59 { 
	color:rgba(0, 0, 0, 1);
	width:225px;
	height:41px;
	position:absolute;
	left:1550px;
	top:786px;
	font-family:Yesteryear;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e12_89 { 
	width:700px;
	height:129px;
	position:absolute;
	left:-107px;
	top:2127px;
	background-image:url(images/logoza_ru__1__mujlv4stx_transformed_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_87 { 
	color:rgba(0, 0, 0, 1);
	width:448px;
	height:84px;
	position:absolute;
	left:794px;
	top:2172px;
	font-family:Lato;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e13_116 { 
	transform: rotate(180deg);
	width:155px;
	height:109px;
	position:absolute;
	left:782px;
	top:38px;
	background-image:url(images/png_transparent_chocolate_milk_chocolate_bar_hot_chocolate_candy_candy_food_sweetness_chocolate_syrup_transformed_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_117 { 
	color:rgba(0, 0, 0, 1);
	width:609px;
	height:35px;
	position:absolute;
	left:801px;
	top:75px;
	font-family:Sora;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
