.12_8 { 
	overflow:hidden;
}
.e12_8 { 
	background-color:rgba(255, 255, 255, 1);
	width:1900px;
	height:2658px;
	position:absolute;
}
.e12_94 { 
	color:rgba(0, 0, 0, 1);
	width:137px;
	height:26px;
	position:absolute;
	left:1580px;
	top:2521px;
	font-family:Sora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e12_9 { 
	background-color:rgba(221.00779920816422, 225.24999797344208, 13.139588534832, 1);
	width:1920px;
	height:189px;
	position:absolute;
	left:-20px;
	top:0px;
}
.e12_11 { 
	width:420px;
	height:229px;
	position:absolute;
	left:-115px;
	top:-40px;
	background-image:url(images/1628036719_58_p_kusochek_torta_foto_69_transformed_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_13 { 
	color:rgba(0, 0, 0, 1);
	width:137px;
	height:26px;
	position:absolute;
	left:1643px;
	top:74px;
	font-family:Sora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e12_14 { 
	color:rgba(0, 0, 0, 1);
	width:137px;
	height:26px;
	position:absolute;
	left:1463px;
	top:74px;
	font-family:Sora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e12_15 { 
	width:460px;
	height:113px;
	position:absolute;
	left:219px;
	top:28px;
	background-image:url(images/logoza_ru_toxkc0g83_transformed_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_16 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(-3.1805546814635168e-15deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:48px;
	height:10px;
	position:absolute;
	left:188px;
	top:64px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.e12_17 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(-3.1805546814635168e-15deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:48px;
	height:10px;
	position:absolute;
	left:188px;
	top:84px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.e12_18 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(-3.1805546814635168e-15deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:48px;
	height:10px;
	position:absolute;
	left:188px;
	top:104px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.e12_29 { 
	background-color:rgba(190.18750101327896, 164.70240533351898, 30.905474424362183, 1);
	width:577px;
	height:665px;
	position:absolute;
	left:14px;
	top:221px;
	border-top-left-radius:19px;
	border-top-right-radius:19px;
	border-bottom-left-radius:19px;
	border-bottom-right-radius:19px;
}
.e12_67 { 
	background-color:rgba(190.18750101327896, 164.70240533351898, 30.905474424362183, 1);
	width:577px;
	height:665px;
	position:absolute;
	left:14px;
	top:1767px;
	border-top-left-radius:19px;
	border-top-right-radius:19px;
	border-bottom-left-radius:19px;
	border-bottom-right-radius:19px;
}
.e12_73 { 
	width:383px;
	height:458px;
	position:absolute;
	left:93px;
	top:1791px;
	border-top-left-radius:19px;
	border-top-right-radius:19px;
	border-bottom-left-radius:19px;
	border-bottom-right-radius:19px;
	background-image:url(images/rectangle_41.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_68 { 
	background-color:rgba(190.18750101327896, 164.70240533351898, 30.905474424362183, 1);
	width:577px;
	height:665px;
	position:absolute;
	left:655px;
	top:1764px;
	border-top-left-radius:19px;
	border-top-right-radius:19px;
	border-bottom-left-radius:19px;
	border-bottom-right-radius:19px;
}
.e12_70 { 
	background-color:rgba(190.18750101327896, 164.70240533351898, 30.905474424362183, 1);
	width:577px;
	height:665px;
	position:absolute;
	left:1310px;
	top:1767px;
	border-top-left-radius:19px;
	border-top-right-radius:19px;
	border-bottom-left-radius:19px;
	border-bottom-right-radius:19px;
}
.e12_44 { 
	background-color:rgba(190.18750101327896, 164.70240533351898, 30.905474424362183, 1);
	width:577px;
	height:665px;
	position:absolute;
	left:13px;
	top:896px;
	border-top-left-radius:19px;
	border-top-right-radius:19px;
	border-bottom-left-radius:19px;
	border-bottom-right-radius:19px;
}
.e12_47 { 
	background-color:rgba(190.18750101327896, 164.70240533351898, 30.905474424362183, 1);
	width:577px;
	height:665px;
	position:absolute;
	left:655px;
	top:896px;
	border-top-left-radius:19px;
	border-top-right-radius:19px;
	border-bottom-left-radius:19px;
	border-bottom-right-radius:19px;
}
.e12_48 { 
	background-color:rgba(190.18750101327896, 164.70240533351898, 30.905474424362183, 1);
	width:577px;
	height:665px;
	position:absolute;
	left:1310px;
	top:896px;
	border-top-left-radius:19px;
	border-top-right-radius:19px;
	border-bottom-left-radius:19px;
	border-bottom-right-radius:19px;
}
.e12_30 { 
	background-color:rgba(190.18750101327896, 164.70240533351898, 30.905474424362183, 1);
	width:577px;
	height:665px;
	position:absolute;
	left:655px;
	top:221px;
	border-top-left-radius:19px;
	border-top-right-radius:19px;
	border-bottom-left-radius:19px;
	border-bottom-right-radius:19px;
}
.e12_31 { 
	background-color:rgba(190.18750101327896, 164.70240533351898, 30.905474424362183, 1);
	width:577px;
	height:665px;
	position:absolute;
	left:1310px;
	top:221px;
	border-top-left-radius:19px;
	border-top-right-radius:19px;
	border-bottom-left-radius:19px;
	border-bottom-right-radius:19px;
}
.e12_32 { 
	width:513px;
	height:482px;
	position:absolute;
	left:46px;
	top:221px;
	background-image:url(images/png_clipart_chocolate_cake_black_forest_gateau_christmas_cake_coffee_mince_pie_chocolate_cake_food_frozen_dessert_transformed_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_33 { 
	color:rgba(255, 255, 255, 1);
	width:459px;
	height:79px;
	position:absolute;
	left:121px;
	top:714px;
	font-family:Yesteryear;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e12_45 { 
	color:rgba(255, 255, 255, 1);
	width:498px;
	height:98px;
	position:absolute;
	left:93px;
	top:1362px;
	font-family:Yesteryear;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e12_34 { 
	color:rgba(255, 255, 255, 1);
	width:459px;
	height:79px;
	position:absolute;
	left:760px;
	top:714px;
	font-family:Yesteryear;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e12_51 { 
	color:rgba(255, 255, 255, 1);
	width:459px;
	height:79px;
	position:absolute;
	left:744px;
	top:1371px;
	font-family:Yesteryear;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e12_56 { 
	color:rgba(255, 255, 255, 1);
	width:459px;
	height:79px;
	position:absolute;
	left:1428px;
	top:1367px;
	font-family:Yesteryear;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e12_53 { 
	width:297px;
	height:401px;
	position:absolute;
	left:1484px;
	top:936px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_35 { 
	color:rgba(255, 255, 255, 1);
	width:459px;
	height:79px;
	position:absolute;
	left:1388px;
	top:721px;
	font-family:Yesteryear;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e12_36 { 
	width:730px;
	height:506px;
	position:absolute;
	left:559px;
	top:221px;
	background-image:url(images/139245112_207c54604fbc984601c65861f8a98318_transformed_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_37 { 
	width:486px;
	height:500px;
	position:absolute;
	left:1356px;
	top:224px;
	background-image:url(images/9c34e057ad7fd855c1a3699b4ed186ec_transformed_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_38 { 
	background-color:rgba(221.00779920816422, 225.24999797344208, 13.139588534832, 1);
	width:309px;
	height:79px;
	position:absolute;
	left:148px;
	top:787px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e12_46 { 
	background-color:rgba(221.00779920816422, 225.24999797344208, 13.139588534832, 1);
	width:309px;
	height:79px;
	position:absolute;
	left:147px;
	top:1446px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e12_75 { 
	background-color:rgba(221.00779920816422, 225.24999797344208, 13.139588534832, 1);
	width:309px;
	height:79px;
	position:absolute;
	left:128px;
	top:2277px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e12_78 { 
	background-color:rgba(221.00779920816422, 225.24999797344208, 13.139588534832, 1);
	width:309px;
	height:79px;
	position:absolute;
	left:805px;
	top:2269px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e12_82 { 
	background-color:rgba(221.00779920816422, 225.24999797344208, 13.139588534832, 1);
	width:309px;
	height:79px;
	position:absolute;
	left:1472px;
	top:2269px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e12_54 { 
	background-color:rgba(221.00779920816422, 225.24999797344208, 13.139588534832, 1);
	width:309px;
	height:79px;
	position:absolute;
	left:819px;
	top:1446px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e12_55 { 
	background-color:rgba(221.00779920816422, 225.24999797344208, 13.139588534832, 1);
	width:309px;
	height:79px;
	position:absolute;
	left:1484px;
	top:1446px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e12_39 { 
	background-color:rgba(221.00779920816422, 225.24999797344208, 13.139588534832, 1);
	width:309px;
	height:79px;
	position:absolute;
	left:809px;
	top:787px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e12_40 { 
	background-color:rgba(221.00779920816422, 225.24999797344208, 13.139588534832, 1);
	width:309px;
	height:79px;
	position:absolute;
	left:1463px;
	top:787px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e12_41 { 
	width:1980px;
	height:1486px;
	position:absolute;
	left:1824px;
	top:-70px;
}
.e13_104 { 
	width:290px;
	height:198px;
	position:absolute;
	left:1697px;
	top:-9px;
	background-image:url(images/png_clipart_cupcake_bundt_cake_chocolate_cake_cream_candy_chocolat_cream_food_transformed_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_12 { 
	transform: rotate(180deg);
	width:155px;
	height:109px;
	position:absolute;
	left:797px;
	top:30px;
	background-image:url(images/png_transparent_chocolate_milk_chocolate_bar_hot_chocolate_candy_candy_food_sweetness_chocolate_syrup_transformed_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_60 { 
	color:rgba(0, 0, 0, 1);
	width:225px;
	height:41px;
	position:absolute;
	left:212px;
	top:798px;
	font-family:Yesteryear;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e12_61 { 
	color:rgba(0, 0, 0, 1);
	width:225px;
	height:41px;
	position:absolute;
	left:877px;
	top:798px;
	font-family:Yesteryear;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e12_62 { 
	color:rgba(0, 0, 0, 1);
	width:225px;
	height:41px;
	position:absolute;
	left:1532px;
	top:798px;
	font-family:Yesteryear;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e12_63 { 
	color:rgba(0, 0, 0, 1);
	width:225px;
	height:41px;
	position:absolute;
	left:1547px;
	top:1457px;
	font-family:Yesteryear;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e12_64 { 
	color:rgba(0, 0, 0, 1);
	width:225px;
	height:41px;
	position:absolute;
	left:883px;
	top:1457px;
	font-family:Yesteryear;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e12_74 { 
	color:rgba(0, 0, 0, 1);
	width:225px;
	height:41px;
	position:absolute;
	left:182px;
	top:2288px;
	font-family:Yesteryear;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e12_80 { 
	color:rgba(0, 0, 0, 1);
	width:225px;
	height:41px;
	position:absolute;
	left:868px;
	top:2282px;
	font-family:Yesteryear;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e12_81 { 
	color:rgba(0, 0, 0, 1);
	width:225px;
	height:41px;
	position:absolute;
	left:1536px;
	top:2282px;
	font-family:Yesteryear;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e12_65 { 
	color:rgba(0, 0, 0, 1);
	width:225px;
	height:41px;
	position:absolute;
	left:212px;
	top:1463px;
	font-family:Yesteryear;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e12_66 { 
	color:rgba(0, 0, 0, 1);
	width:1193px;
	height:169px;
	position:absolute;
	left:521px;
	top:1595px;
	font-family:Wire One;
	text-align:left;
	font-size:128px;
	letter-spacing:0;
}
.e12_72 { 
	background-color:rgba(235.02500385046005, 216.51680499315262, 49.94280248880386, 1);
	width:1920px;
	height:179px;
	position:absolute;
	left:0px;
	top:2479px;
}
.e12_84 { 
	width:399px;
	height:427px;
	position:absolute;
	left:1420px;
	top:1803px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_90 { 
	color:rgba(0, 0, 0, 1);
	width:1334px;
	height:285px;
	position:absolute;
	left:433px;
	top:2502px;
	font-family:Lato;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e12_92 { 
	color:rgba(0, 0, 0, 1);
	width:137px;
	height:26px;
	position:absolute;
	left:1763px;
	top:2524px;
	font-family:Sora;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e12_93 { 
	width:700px;
	height:129px;
	position:absolute;
	left:-120px;
	top:2529px;
	background-image:url(images/logoza_ru__1__mujlv4stx_transformed_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
