.4_3 { 
	overflow:hidden;
}.e4_3 { 
	background-color:rgba(221.00779920816422, 225.24999797344208, 13.139588534832, 1);
	width:1920px;
	height:178px;
	position:absolute;
}.e4_4 { 
	background-color:rgba(190.0000038743019, 165.00000536441803, 31.000000052154064, 1);
	width:566px;
	height:89px;
	position:absolute;
	left:27px;
	top:45px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
}.e4_5 { 
	background-color:rgba(190.0000038743019, 165.00000536441803, 31.000000052154064, 1);
	width:659px;
	height:89px;
	position:absolute;
	left:651px;
	top:45px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
}.e4_7 { 
	background-color:rgba(190.0000038743019, 165.00000536441803, 31.000000052154064, 1);
	width:524px;
	height:89px;
	position:absolute;
	left:1368px;
	top:45px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
}.e12_4 { 
	color:rgba(255, 255, 255, 1);
	width:441px;
	height:59px;
	position:absolute;
	left:210px;
	top:60px;
	font-family:Lato;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e12_5 { 
	color:rgba(255, 255, 255, 1);
	width:496px;
	height:84px;
	position:absolute;
	left:848px;
	top:60px;
	font-family:Lato;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e12_6 { 
	color:rgba(255, 255, 255, 1);
	width:413px;
	height:84px;
	position:absolute;
	left:1541px;
	top:60px;
	font-family:Lato;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}